/* Stili i përgjithshëm */
body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f2fa;
    margin: 0;
    padding: 20px;
}

/* Titulli kryesor */
h1 {
    text-align: center;
    color: #4b0082;
    margin-bottom: 30px;
}

/* Kontejneri i tabelave */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* Pamja e tabelave */
table {
    width: 350px;
}